body{
    background: linear-gradient(129deg, #0288D1 50%, #609cf5 50% );
}
.login-card{
    height: 500px;
    width: 55%;
    margin-left:23%;
    margin-top: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.685);
    /*background-color: #c3d4f8;*/
    font-size: large;
    font-weight: 100;
    color: #f8f8f8;
    text-align: center;
    /* background:linear-gradient(129deg, #0288D1 50%, #609cf5 50% ); */
}
.card-head{
    margin-top: 5%;
    font-size: x-large;
    font-family:Verdana, Geneva, sans-serif;
    text-align: center;
}
.form-group{
    margin-top:12%;
}
.text{
    width: 70%;
    align-items: center;
    margin-left: 15%;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.356);
}
.text:hover{
    transform: scaleX(1.2);
}
.bt{
    width: 60%;
    margin-top: 10%;
}
.bt:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.493);
}
.logo-area{
    background-color: rgba(4, 48, 194, 0.849);
    background-size: cover;
    width:45%;
    height: 501px;
    margin-top: -8%;
    margin-left: -1%;
}
.login{
    font-size: 1.8rem;
    font-weight: 650;
    font-style: inherit;
    text-align: center;
    margin-top: 1%;
    font-family:'Amita';
    color: rgb(240, 243, 243);
}
.welcome{
    font-size: 2.5rem;
    font-weight: 400;
    font-style: inherit;
    text-align: center;
    margin-top: 43%;
    font-family:'Amarante';
    color: rgb(248, 250, 250);
}
.form-login{
    margin-left: 5%;
    width: 46%;
}
.cir{
    height:110px;
    width: 110px;
    background-color: rgb(68, 42, 214); 
    margin-left: 82%;
    border-radius: 50%;
    margin-top: -45%;
    font-family:'Alex Brush';
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding-top: 6%;

}